/**
 * @spec O009-miniapp-product-list
 * Product list page styles
 */

.page {
  min-height: 100vh;
  background: #f5f5f5;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32rpx 24rpx;
  background: #fff;
  border-bottom: 1rpx solid #e5e5e5;
}

.title {
  font-size: 36rpx;
  font-weight: 600;
  color: #333;
}

.count {
  font-size: 24rpx;
  color: #999;
}
