/**
 * @spec O003-beverage-order
 * ErrorState 样式
 */
.error-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64rpx;
  min-height: 400rpx;

  &__icon {
    margin-bottom: 32rpx;
  }

  &__title {
    font-size: 32rpx;
    font-weight: 600;
    color: #262626;
    margin-bottom: 16rpx;
  }

  &__description {
    font-size: 28rpx;
    color: #8c8c8c;
    text-align: center;
    margin-bottom: 32rpx;
    line-height: 1.6;
  }

  &__button {
    width: 240rpx;
    height: 72rpx;
    line-height: 72rpx;
    font-size: 28rpx;
  }
}
