/**
 * @spec O006-miniapp-channel-order
 * Price 原子组件样式
 */

@import '@/styles/variables.scss';
@import '@/styles/theme.scss';

.app-price {
  display: inline-flex;
  align-items: baseline;
  font-weight: $font-weight-medium;

  // 尺寸变体
  &--small {
    font-size: $font-size-sm;

    .app-price__symbol {
      font-size: $font-size-xs;
    }
  }

  &--medium {
    font-size: $font-size-lg;

    .app-price__symbol {
      font-size: $font-size-md;
    }
  }

  &--large {
    font-size: $font-size-xl;

    .app-price__symbol {
      font-size: $font-size-lg;
    }
  }

  // 颜色类型
  &--default {
    color: $text-color;
  }

  &--primary {
    color: $primary-color;
  }

  &--accent {
    color: $accent-color;
  }

  // 删除线(原价)
  &--strikethrough {
    text-decoration: line-through;
    color: $text-light;
    font-weight: $font-weight-normal;
  }

  // 货币符号
  &__symbol {
    margin-right: 2rpx;
  }

  // 金额
  &__amount {
    font-weight: inherit;
  }
}
