/**
 * @spec O006-miniapp-channel-order
 * 首页样式
 */

@import '@/styles/variables.scss';

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 32rpx;
}

.title {
  font-size: $font-size-xxl;
  font-weight: 600;
  color: $text-color;
  margin-bottom: 16rpx;
}

.subtitle {
  font-size: $font-size-md;
  color: $text-light;
}
