/**
 * @spec O006-miniapp-channel-order
 * Loading 原子组件样式
 */

@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.app-loading {
  @include flex-column;
  @include flex-center;
  padding: $padding-xl 0;

  // 垂直居中(页面级)
  &--centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // 尺寸变体
  &--small {
    .app-loading__spinner {
      width: 40rpx;
      height: 40rpx;
    }

    .app-loading__dot {
      width: 8rpx;
      height: 8rpx;
    }
  }

  &--medium {
    .app-loading__spinner {
      width: 60rpx;
      height: 60rpx;
    }

    .app-loading__dot {
      width: 12rpx;
      height: 12rpx;
    }
  }

  &--large {
    .app-loading__spinner {
      width: 80rpx;
      height: 80rpx;
    }

    .app-loading__dot {
      width: 16rpx;
      height: 16rpx;
    }
  }

  // 加载指示器容器
  &__spinner {
    @include flex-center;
    position: relative;
  }

  // 加载点
  &__dot {
    position: absolute;
    background-color: $primary-color;
    border-radius: 50%;
    animation: pulse 1.4s infinite ease-in-out both;

    &--1 {
      left: 0;
      animation-delay: -0.32s;
    }

    &--2 {
      left: 50%;
      transform: translateX(-50%);
      animation-delay: -0.16s;
    }

    &--3 {
      right: 0;
      animation-delay: 0s;
    }
  }

  // 加载文本
  &__text {
    margin-top: $spacing-md;
    font-size: $font-size-sm;
    color: $text-light;
  }
}

@keyframes pulse {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
