/**
 * @spec O006-miniapp-channel-order
 * Button 样式
 */

@import '@/styles/variables.scss';

.app-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 2rpx solid transparent;
  border-radius: $border-radius-md;
  font-weight: $font-weight-medium;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  transition: all $duration-normal $ease-in-out;
  user-select: none;

  // 重置 Taro Button 默认样式
  &::after {
    border: none;
  }

  // 尺寸变体
  &--small {
    height: $button-height-sm;
    padding: 0 $padding-sm;
    font-size: $font-size-sm;
  }

  &--medium {
    height: $button-height-md;
    padding: 0 $padding-md;
    font-size: $font-size-base;
  }

  &--large {
    height: $button-height-lg;
    padding: 0 $padding-lg;
    font-size: $font-size-lg;
  }

  // 类型变体
  &--primary {
    background-color: $primary-color;
    color: $text-color-inverse;

    &:active {
      background-color: $primary-dark;
    }
  }

  &--secondary {
    background-color: $secondary-color;
    color: $text-color-inverse;

    &:active {
      opacity: 0.8;
    }
  }

  &--default {
    background-color: $bg-color;
    border-color: $border-color;
    color: $text-color;

    &:active {
      background-color: $bg-color-secondary;
    }
  }

  &--danger {
    background-color: $danger-color;
    color: $text-color-inverse;

    &:active {
      opacity: 0.8;
    }
  }

  // 块级按钮
  &--block {
    display: flex;
    width: 100%;
  }

  // 禁用状态
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:active {
      background-color: inherit;
      opacity: 0.5;
    }
  }

  // 加载状态
  &--loading {
    cursor: wait;
  }
}

.app-button__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
